---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Gemini Pro</span>
    <span class="gpt-subtitle">Chat</span>
  </div>
  <p mt-1 op-60>
    Based on
    <span> Gemini Pro API.</span>
    <a href="https://github.com/babaohuang/GeminiProChat" class="font-bold">Source code</a>
  </p>
</header>
